## Extracción y transformación de datos con Spark 2.4
### Origen de datos
Los datos representan los accidentes de tráfico por día y distrito
que se han producido en la ciudad de Madrid entre 2010 y 2018

El fichero origen es un fichero csv por año tiene los datos detallados
por cada uno de los intervinientes en el accidente: Conductor, pasajero,
testito, peatón, ...

La primera parte del fichero está referida al accidente y se repite
por cada uno de los intervinientes.

### La parte del registro referida al accidente tiene los campos:
 - 'FECHA'
 - 'RANGO HORARIO'
 - 'DIA SEMANA'
 - 'DISTRITO'
 - 'LUGAR ACCIDENTE'
 - 'Nº: string'
 - 'Nº PARTE'     **Id.accidente, es el mismo para varios regs.**
 - 'CPFA Granizo'
 - 'CPFA Hielo'
 - 'CPFA Lluvia'
 - 'CPFA Niebla'
 - 'CPFA Seco'
 - 'CPFA Nieve'
 - 'CPSV Mojada'
 - 'CPSV Aceite'
 - 'CPSV Barro'
 - 'CPSV Grava Suelta'
 - 'CPSV Hielo'
 - 'CPSV Seca Y Limpia'
 - '* Nº VICTIMAS' **Total de víctimas por Nº de parte**
 - 'TIPO ACCIDENTE'
 - 'Tipo Vehiculo'
 
### La parte del registro correspondiente a cada persona:
 - 'TIPO PERSONA'
 - 'SEXO'
 - 'LESIVIDAD'
 - 'Tramo Edad'

In [1]:
import pyspark
from pyspark.sql import SparkSession
app_name = "bubbly"
master = "local[*]"
spark = (SparkSession.builder
    .master(master)
    .config("spark.driver.cores", 1)
    .appName(app_name)
    .getOrCreate() )
sc = spark.sparkContext
print ('SparkContext created')

SparkContext created

In [2]:
# Cargamos el fichero desde hdfs
#accidenteData = spark.read.csv ('hdfs://localhost:9000/user/ubuntu/accidentes/2018.csv',header=True)
#accidenteData = spark.read.csv ('file:///home/ubuntu/Downloads/2018_Accidentalidad.csv',header=True)
accidenteData = spark.read.csv ('file:///home/jose/Descargas/2018.csv',header=True)

In [3]:
accidenteData.printSchema()

root
 |-- FECHA: string (nullable = true)
 |-- RANGO HORARIO: string (nullable = true)
 |-- DIA SEMANA: string (nullable = true)
 |-- DISTRITO: string (nullable = true)
 |-- LUGAR ACCIDENTE: string (nullable = true)
 |-- Nº: string (nullable = true)
 |-- Nº PARTE: string (nullable = true)
 |-- CPFA Granizo: string (nullable = true)
 |-- CPFA Hielo: string (nullable = true)
 |-- CPFA Lluvia: string (nullable = true)
 |-- CPFA Niebla: string (nullable = true)
 |-- CPFA Seco: string (nullable = true)
 |-- CPFA Nieve: string (nullable = true)
 |-- CPSV Mojada: string (nullable = true)
 |-- CPSV Aceite: string (nullable = true)
 |-- CPSV Barro: string (nullable = true)
 |-- CPSV Grava Suelta: string (nullable = true)
 |-- CPSV Hielo: string (nullable = true)
 |-- CPSV Seca Y Limpia: string (nullable = true)
 |-- * Nº VICTIMAS: string (nullable = true)
 |-- TIPO ACCIDENTE: string (nullable = true)
 |-- Tipo Vehiculo: string (nullable = true)
 |-- TIPO PERSONA: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- LESIVIDAD: string (nullable = true)
 |-- Tramo Edad: string (nullable = true)

In [18]:
import pyspark.sql.functions as func

# Reducimos las columnas que tenemos que utilizar mediante la Select
# y aplicamos las funciones necesarias a los datos
accRed=accidenteData\
  .filter ((func.substring(accidenteData.LESIVIDAD,1,1)=='H') | 
            (func.substring(accidenteData.LESIVIDAD,1,1)=='M') | 
            (accidenteData['TIPO PERSONA'] == 'CONDUCTOR'))\
  .select(
#        func.to_date(accidenteData.FECHA, 'dd/MM/yyyy HH:mm:ss').alias('fecha'), \
        func.to_date(accidenteData.FECHA, 'dd/MM/yyyy').alias('fecha'), \
        accidenteData.DISTRITO.alias('distrito'), \
        accidenteData["Nº PARTE"].alias('idAccidente'), \
        accidenteData["TIPO PERSONA"].alias('tipoPersona'), \
        accidenteData["SEXO"].alias('sexo'), \
        func.substring(accidenteData.LESIVIDAD,1,2).alias('lesividad'), \
)

In [19]:
#Las columnas del Dataframe accRed quedan así
accRed.show()

+----------+--------------------+-----------+--------------------+------+---------+
|     fecha|            distrito|idAccidente|         tipoPersona|  sexo|lesividad|
+----------+--------------------+-----------+--------------------+------+---------+
|2018-01-01|USERA            ...|     2018/1|PEATON           ...|HOMBRE|       HG|
|2018-01-01|USERA            ...|     2018/1|           CONDUCTOR|HOMBRE|       IL|
|2018-01-01|HORTALEZA        ...|     2018/3|           CONDUCTOR|HOMBRE|       IL|
|2018-01-01|HORTALEZA        ...|     2018/3|VIAJERO          ...|HOMBRE|       HG|
|2018-01-01|SAN BLAS         ...|     2018/9|           CONDUCTOR|HOMBRE|       IL|
|2018-01-01|SAN BLAS         ...|     2018/9|           CONDUCTOR|HOMBRE|       IL|
|2018-01-01|SAN BLAS         ...|     2018/9|VIAJERO          ...| MUJER|       HL|
|2018-01-01|CIUDAD LINEAL    ...|    2018/12|           CONDUCTOR|HOMBRE|       HG|
|2018-01-01|CIUDAD LINEAL    ...|    2018/12|           CONDUCTOR|HOMBRE|       HL|
|2018-01-01|CIUDAD LINEAL    ...|    2018/12|VIAJERO          ...| MUJER|       HL|
|2018-01-01|FUENCARRAL-EL PAR...|    2018/16|PEATON           ...|HOMBRE|       HL|
|2018-01-01|FUENCARRAL-EL PAR...|    2018/16|PEATON           ...|HOMBRE|       HL|
|2018-01-01|FUENCARRAL-EL PAR...|    2018/16|           CONDUCTOR|HOMBRE|       IL|
|2018-01-01|MORATALAZ        ...|     2018/8|           CONDUCTOR|HOMBRE|       HL|
|2018-01-01|MORATALAZ        ...|     2018/8|           CONDUCTOR|HOMBRE|       IL|
|2018-01-01|ARGANZUELA       ...|    2018/25|           CONDUCTOR|HOMBRE|       HL|
|2018-01-01|ARGANZUELA       ...|    2018/25|           CONDUCTOR|HOMBRE|       IL|
|2018-01-01|CENTRO           ...|    2018/76|PEATON           ...| MUJER|       HL|
|2018-01-01|CENTRO           ...|    2018/76|           CONDUCTOR|HOMBRE|       HL|
|2018-01-01|SALAMANCA        ...|    2018/20|           CONDUCTOR|HOMBRE|       HL|
+----------+--------------------+-----------+--------------------+------+---------+
only showing top 20 rows

In [35]:
# Eliminamos las filas de las personas ilesas
# Agrupamos por fecha, distrito, accidente y lesividad para contar 
# los registros y tener el total de afectados.
accGrouped=accRed\
                .groupBy('fecha','distrito','idAccidente')\
                .agg(func.count(func.when(accRed.lesividad=='MT',1)).alias('muertos'),
                     func.count(func.when(accRed.lesividad=='HG',1)).alias('graves'),
                     func.count(func.when(accRed.lesividad=='HL',1)).alias('leves'),
                     func.count(func.when((accRed.sexo == 'MUJER') &
                                          (accRed.tipoPersona == 'CONDUCTOR'),1)).alias('condMujer'),
                     func.count(func.when((accRed.sexo == 'HOMBRE') &
                                          (accRed.tipoPersona == 'CONDUCTOR'),1)).alias('condHombre'),
                    )\
                .na.fill(0)\
                .sort ('fecha','distrito','idAccidente')

In [36]:
#Las columnas del Dataframe accRed quedan así
accGrouped.toPandas()

,fecha,distrito,idAccidente,muertos,graves,leves,condMujer,condHombre
0,2018-01-01,ARGANZUELA,2018/25,0,0,1,0,2
1,2018-01-01,CARABANCHEL,2018/23,0,1,0,0,2
2,2018-01-01,CENTRO,2018/76,0,0,2,0,1
3,2018-01-01,CHAMARTIN,2018/43,0,0,1,0,2
4,2018-01-01,CIUDAD LINEAL,2018/12,0,1,2,0,2
5,2018-01-01,FUENCARRAL-EL PARDO,2018/16,0,0,2,0,1
6,2018-01-01,HORTALEZA,2018/3,0,1,0,0,1
7,2018-01-01,MORATALAZ,2018/8,0,0,1,0,2
8,2018-01-01,RETIRO,2018/34,0,0,2,0,2
9,2018-01-01,SALAMANCA,2018/20,0,1,1,1,1
10,2018-01-01,SAN BLAS,2018/9,0,0,1,0,2
11,2018-01-01,USERA,2018/1,0,1,0,0,1
12,2018-01-02,ARGANZUELA,2018/33,0,0,1,1,1
13,2018-01-02,ARGANZUELA,2018/36,0,1,0,1,0
14,2018-01-02,ARGANZUELA,2018/61,0,0,1,0,2
15,2018-01-02,CENTRO,2018/363,0,0,1,0,2
16,2018-01-02,CHAMARTIN,2018/54,0,0,1,0,1
17,2018-01-02,CHAMBERI,2018/69,0,0,1,0,2
18,2018-01-02,CIUDAD LINEAL,2018/256,0,0,1,0,1
19,2018-01-02,FUENCARRAL-EL PARDO,2018/75,0,0,1,0,1
20,2018-01-02,MONCLOA-ARAVACA,2018/56,0,0,2,1,0
21,2018-01-02,MORATALAZ,2018/41,0,1,0,0,1
22,2018-01-02,PUENTE DE VALLECAS,2018/163,0,0,1,0,2
23,2018-01-02,SALAMANCA,2018/105,0,0,1,1,0
24,2018-01-02,SALAMANCA,2018/118,0,0,1,0,2
25,2018-01-02,SALAMANCA,2018/30,0,0,2,0,1
26,2018-01-02,SALAMANCA,2018/92,0,0,1,0,2
27,2018-01-02,SALAMANCA,2018/98,0,0,1,1,1
28,2018-01-02,SAN BLAS,2018/60,0,0,1,0,2
29,2018-01-02,SAN BLAS,2018/68,0,0,1,0,2
...,...,...,...,...,...,...,...,...
10648,2018-12-29,USERA,2019/133,0,0,2,1,1
10649,2018-12-29,VILLAVERDE,2018/16629,0,0,2,0,2
10650,2018-12-29,VILLAVERDE,2018/16632,0,0,3,0,2
10651,2018-12-29,VILLAVERDE,2019/5,0,0,1,0,2
10652,2018-12-29,VILLAVERDE,2019/8,0,0,1,0,2
10653,2018-12-30,CARABANCHEL,2018/16664,0,0,1,0,0
10654,2018-12-30,CARABANCHEL,2018/16665,0,0,2,0,2
10655,2018-12-30,CENTRO,2019/96,0,0,1,0,1
10656,2018-12-30,CHAMARTIN,2018/16657,0,0,1,1,1
10657,2018-12-30,CHAMARTIN,2019/99,0,0,1,1,0
10658,2018-12-30,CHAMBERI,2018/16667,0,0,2,0,2
10659,2018-12-30,LATINA,2018/16678,0,0,1,1,1
10660,2018-12-30,PUENTE DE VALLECAS,2018/16659,0,0,1,0,1
10661,2018-12-30,PUENTE DE VALLECAS,2019/154,0,0,2,1,1
10662,2018-12-30,PUENTE DE VALLECAS,2019/75,0,0,1,0,1
10663,2018-12-30,USERA,2019/68,0,1,0,0,1
10664,2018-12-31,CARABANCHEL,2019/12,0,0,1,1,0
10665,2018-12-31,CENTRO,2019/32,0,0,1,0,2
10666,2018-12-31,CIUDAD LINEAL,2019/69,0,0,1,0,2
10667,2018-12-31,HORTALEZA,2019/53,0,0,1,1,1
10668,2018-12-31,LATINA,2018/16666,0,0,1,0,1
10669,2018-12-31,MORATALAZ,2019/72,0,0,1,0,2
10670,2018-12-31,PUENTE DE VALLECAS,2019/155,0,0,1,1,0
10671,2018-12-31,PUENTE DE VALLECAS,2019/95,0,0,1,0,2
10672,2018-12-31,RETIRO,2018/16681,0,0,1,0,1
10673,2018-12-31,SALAMANCA,2019/18,0,0,1,0,2
10674,2018-12-31,SAN BLAS,2018/16693,0,0,2,2,0
10675,2018-12-31,TETUAN,2019/38,0,0,1,1,1
10676,2018-12-31,USERA,2019/14,0,0,2,1,0
10677,2018-12-31,USERA,2019/66,0,0,1,0,2

In [37]:
accRes = accGrouped\
   .groupBy (accGrouped.fecha, accGrouped.distrito)\
   .agg (
            func.count(func.when(accGrouped.condMujer==0,1)).alias('condHombre'),
            func.count(func.when(accGrouped.condHombre==0,1)).alias('condMujer'),
            func.count(func.when((accGrouped.condMujer>0)&
                                 (accGrouped.condHombre>0),1)).alias('condMixto'),
            func.sum (func.when (accGrouped.condMujer==0,accGrouped.muertos)).alias('muertosCondHombre'),
            func.sum (func.when (accGrouped.condMujer==0,accGrouped.graves)).alias('gravesCondHombre'),
            func.sum (func.when (accGrouped.condMujer==0,accGrouped.leves)).alias('levesCondHombre'),
            func.sum (func.when (accGrouped.condHombre==0,accGrouped.muertos)).alias('muertosCondMujer'),
            func.sum (func.when (accGrouped.condHombre==0,accGrouped.graves)).alias('gravesCondMujer'),
            func.sum (func.when (accGrouped.condHombre==0,accGrouped.leves)).alias('levesCondMujer'),
            func.sum (accGrouped.muertos).alias('totalMuertos'),
            func.sum (accGrouped.graves).alias('totalGraves'),
            func.sum (accGrouped.leves).alias('totalLeves')
        )\
    .na.fill(0)\
    .orderBy (accGrouped.fecha, accGrouped.distrito)

In [38]:
accRes.toPandas()

,fecha,distrito,condHombre,condMujer,condMixto,muertosCondHombre,gravesCondHombre,levesCondHombre,muertosCondMujer,gravesCondMujer,levesCondMujer,totalMuertos,totalGraves,totalLeves
0,2018-01-01,ARGANZUELA,1,0,0,0,0,1,0,0,0,0,0,1
1,2018-01-01,CARABANCHEL,1,0,0,0,1,0,0,0,0,0,1,0
2,2018-01-01,CENTRO,1,0,0,0,0,2,0,0,0,0,0,2
3,2018-01-01,CHAMARTIN,1,0,0,0,0,1,0,0,0,0,0,1
4,2018-01-01,CIUDAD LINEAL,1,0,0,0,1,2,0,0,0,0,1,2
5,2018-01-01,FUENCARRAL-EL PARDO,1,0,0,0,0,2,0,0,0,0,0,2
6,2018-01-01,HORTALEZA,1,0,0,0,1,0,0,0,0,0,1,0
7,2018-01-01,MORATALAZ,1,0,0,0,0,1,0,0,0,0,0,1
8,2018-01-01,RETIRO,1,0,0,0,0,2,0,0,0,0,0,2
9,2018-01-01,SALAMANCA,0,0,1,0,0,0,0,0,0,0,1,1
10,2018-01-01,SAN BLAS,1,0,0,0,0,1,0,0,0,0,0,1
11,2018-01-01,USERA,1,0,0,0,1,0,0,0,0,0,1,0
12,2018-01-02,ARGANZUELA,1,1,1,0,0,1,0,1,0,0,1,2
13,2018-01-02,CENTRO,1,0,0,0,0,1,0,0,0,0,0,1
14,2018-01-02,CHAMARTIN,1,0,0,0,0,1,0,0,0,0,0,1
15,2018-01-02,CHAMBERI,1,0,0,0,0,1,0,0,0,0,0,1
16,2018-01-02,CIUDAD LINEAL,1,0,0,0,0,1,0,0,0,0,0,1
17,2018-01-02,FUENCARRAL-EL PARDO,1,0,0,0,0,1,0,0,0,0,0,1
18,2018-01-02,MONCLOA-ARAVACA,0,1,0,0,0,0,0,0,2,0,0,2
19,2018-01-02,MORATALAZ,1,0,0,0,1,0,0,0,0,0,1,0
20,2018-01-02,PUENTE DE VALLECAS,1,0,0,0,0,1,0,0,0,0,0,1
21,2018-01-02,SALAMANCA,3,1,1,0,0,4,0,0,1,0,0,6
22,2018-01-02,SAN BLAS,2,0,0,0,0,2,0,0,0,0,0,2
23,2018-01-02,TETUAN,2,0,0,0,0,2,0,0,0,0,0,2
24,2018-01-02,USERA,1,0,0,0,0,1,0,0,0,0,0,1
25,2018-01-02,VICALVARO,0,0,1,0,0,0,0,0,0,0,0,3
26,2018-01-02,VILLA DE VALLECAS,0,0,1,0,0,0,0,0,0,0,0,4
27,2018-01-02,VILLAVERDE,1,0,0,0,0,1,0,0,0,0,0,1
28,2018-01-03,CARABANCHEL,2,1,1,0,0,2,0,0,1,0,1,3
29,2018-01-03,CENTRO,2,1,0,0,0,2,0,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5278,2018-12-28,TETUAN,0,0,1,0,0,0,0,0,0,0,0,1
5279,2018-12-28,VILLAVERDE,1,0,0,0,0,1,0,0,0,0,0,1
5280,2018-12-29,CENTRO,2,0,0,0,1,3,0,0,0,0,1,3
5281,2018-12-29,CHAMARTIN,0,0,1,0,0,0,0,0,0,0,0,2
5282,2018-12-29,CHAMBERI,1,0,0,0,0,1,0,0,0,0,0,1
5283,2018-12-29,FUENCARRAL-EL PARDO,1,0,0,0,0,1,0,0,0,0,0,1
5284,2018-12-29,HORTALEZA,1,0,0,0,1,0,0,0,0,0,1,0
5285,2018-12-29,RETIRO,1,0,1,0,0,1,0,0,0,0,0,2
5286,2018-12-29,TETUAN,1,0,0,0,0,1,0,0,0,0,0,1
5287,2018-12-29,USERA,0,0,1,0,0,0,0,0,0,0,0,2
5288,2018-12-29,VILLAVERDE,4,0,0,0,0,7,0,0,0,0,0,7
5289,2018-12-30,CARABANCHEL,2,1,0,0,0,3,0,0,1,0,0,3
5290,2018-12-30,CENTRO,1,0,0,0,0,1,0,0,0,0,0,1
5291,2018-12-30,CHAMARTIN,0,1,1,0,0,0,0,0,1,0,0,2
5292,2018-12-30,CHAMBERI,1,0,0,0,0,2,0,0,0,0,0,2
5293,2018-12-30,LATINA,0,0,1,0,0,0,0,0,0,0,0,1
5294,2018-12-30,PUENTE DE VALLECAS,2,0,1,0,0,2,0,0,0,0,0,4
5295,2018-12-30,USERA,1,0,0,0,1,0,0,0,0,0,1,0
5296,2018-12-31,CARABANCHEL,0,1,0,0,0,0,0,0,1,0,0,1
5297,2018-12-31,CENTRO,1,0,0,0,0,1,0,0,0,0,0,1
5298,2018-12-31,CIUDAD LINEAL,1,0,0,0,0,1,0,0,0,0,0,1
5299,2018-12-31,HORTALEZA,0,0,1,0,0,0,0,0,0,0,0,1
5300,2018-12-31,LATINA,1,0,0,0,0,1,0,0,0,0,0,1
5301,2018-12-31,MORATALAZ,1,0,0,0,0,1,0,0,0,0,0,1
5302,2018-12-31,PUENTE DE VALLECAS,1,1,0,0,0,1,0,0,1,0,0,2
5303,2018-12-31,RETIRO,1,0,0,0,0,1,0,0,0,0,0,1
5304,2018-12-31,SALAMANCA,1,0,0,0,0,1,0,0,0,0,0,1
5305,2018-12-31,SAN BLAS,0,1,0,0,0,0,0,0,2,0,0,2
5306,2018-12-31,TETUAN,0,0,1,0,0,0,0,0,0,0,0,1
5307,2018-12-31,USERA,1,1,0,0,0,1,0,0,2,0,0,3

#### Por comodidad para poder guardar todos los datos en un único fichero utilizamos la librería pandas.

In [12]:
accGrouped.toPandas().to_csv('/home/ubuntu/Downloads/victimas_por_fecha_distrito_accidente_lesion.csv',sep=';')