## Extracción y transformación de datos con Spark 2.4
### Origen de datos
Los datos representan los accidentes de tráfico por día y distrito
que se han producido en la ciudad de Madrid entre 2010 y 2018

El fichero origen es un fichero csv por año tiene los datos detallados
por cada uno de los intervinientes en el accidente: Conductor, pasajero,
testito, peatón, ...

La primera parte del fichero está referida al accidente y se repite
por cada uno de los intervinientes.

### La parte del registro referida al accidente tiene los campos:
 - 'FECHA'
 - 'RANGO HORARIO'
 - 'DIA SEMANA'
 - 'DISTRITO'
 - 'LUGAR ACCIDENTE'
 - 'Nº: string'
 - 'Nº PARTE'     **Id.accidente, es el mismo para varios regs.**
 - 'CPFA Granizo'
 - 'CPFA Hielo'
 - 'CPFA Lluvia'
 - 'CPFA Niebla'
 - 'CPFA Seco'
 - 'CPFA Nieve'
 - 'CPSV Mojada'
 - 'CPSV Aceite'
 - 'CPSV Barro'
 - 'CPSV Grava Suelta'
 - 'CPSV Hielo'
 - 'CPSV Seca Y Limpia'
 - '* Nº VICTIMAS' **Total de víctimas por Nº de parte**
 - 'TIPO ACCIDENTE'
 - 'Tipo Vehiculo'
 
### La parte del registro correspondiente a cada persona:
 - 'TIPO PERSONA'
 - 'SEXO'
 - 'LESIVIDAD'
 - 'Tramo Edad'

In [5]:
import pyspark
from pyspark.sql import SparkSession
app_name = "bubbly"
master = "local[*]"
spark = (SparkSession.builder
    .master(master)
    .config("spark.driver.cores", 1)
    .appName(app_name)
    .getOrCreate() )
sc = spark.sparkContext
print ('SparkContext created')

SparkContext created

In [6]:
# Cargamos el fichero desde hdfs
accidenteData = spark.read.csv ('hdfs://localhost:9000/user/ubuntu/accidentes/datos',header=True)
#accidenteData = spark.read.csv ('file:///home/ubuntu/Downloads/2018_Accidentalidad.csv',header=True)
#accidenteData = spark.read.csv ('file:///home/jose/Descargas/2018.csv',header=True)

In [7]:
accidenteData.printSchema()

root
 |-- FECHA: string (nullable = true)
 |-- RANGO HORARIO: string (nullable = true)
 |-- DIA SEMANA: string (nullable = true)
 |-- DISTRITO: string (nullable = true)
 |-- LUGAR ACCIDENTE: string (nullable = true)
 |-- Nº: string (nullable = true)
 |-- Nº PARTE: string (nullable = true)
 |-- CPFA Granizo: string (nullable = true)
 |-- CPFA Hielo: string (nullable = true)
 |-- CPFA Lluvia: string (nullable = true)
 |-- CPFA Niebla: string (nullable = true)
 |-- CPFA Seco: string (nullable = true)
 |-- CPFA Nieve: string (nullable = true)
 |-- CPSV Mojada: string (nullable = true)
 |-- CPSV Aceite: string (nullable = true)
 |-- CPSV Barro: string (nullable = true)
 |-- CPSV Grava Suelta: string (nullable = true)
 |-- CPSV Hielo: string (nullable = true)
 |-- CPSV Seca Y Limpia: string (nullable = true)
 |-- * Nº VICTIMAS: string (nullable = true)
 |-- TIPO ACCIDENTE: string (nullable = true)
 |-- Tipo Vehiculo: string (nullable = true)
 |-- TIPO PERSONA: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- LESIVIDAD: string (nullable = true)
 |-- Tramo Edad: string (nullable = true)

In [24]:
import pyspark.sql.functions as func

# Reducimos las columnas que tenemos que utilizar mediante la Select
# y aplicamos las funciones necesarias a los datos
accRed=accidenteData\
  .filter ((func.substring(accidenteData.LESIVIDAD,1,1)=='H') | 
            (func.substring(accidenteData.LESIVIDAD,1,1)=='M') | 
            (accidenteData['TIPO PERSONA'] == 'CONDUCTOR'))\
  .select(
#        func.to_date(accidenteData.FECHA, 'dd/MM/yyyy HH:mm:ss').alias('fecha'), \
        func.to_date(accidenteData.FECHA, 'dd/MM/yyyy').alias('fecha'), \
#        accidenteData.FECHA.alias('fecha'),\
        accidenteData.DISTRITO.alias('distrito'), \
        accidenteData["Nº PARTE"].alias('idAccidente'), \
        accidenteData["TIPO PERSONA"].alias('tipoPersona'), \
        accidenteData["SEXO"].alias('sexo'), \
        func.substring(accidenteData.LESIVIDAD,1,2).alias('lesividad'), \
)

In [26]:
#Las columnas del Dataframe accRed quedan así
accRed.printSchema()
accRed.show(n=2)

root
 |-- fecha: date (nullable = true)
 |-- distrito: string (nullable = true)
 |-- idAccidente: string (nullable = true)
 |-- tipoPersona: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- lesividad: string (nullable = true)

+----------+--------------------+-----------+--------------------+------+---------+
|     fecha|            distrito|idAccidente|         tipoPersona|  sexo|lesividad|
+----------+--------------------+-----------+--------------------+------+---------+
|2018-01-01|USERA            ...|     2018/1|PEATON           ...|HOMBRE|       HG|
|2018-01-01|USERA            ...|     2018/1|           CONDUCTOR|HOMBRE|       IL|
+----------+--------------------+-----------+--------------------+------+---------+
only showing top 2 rows

In [30]:
# Eliminamos las filas de las personas ilesas
# Agrupamos por fecha, distrito, accidente y lesividad para contar 
# los registros y tener el total de afectados.
accGrouped=accRed\
                .groupBy('fecha','distrito','idAccidente')\
                .agg(func.count(func.when(accRed.lesividad=='MT',1)).alias('muertos'),
                     func.count(func.when(accRed.lesividad=='HG',1)).alias('graves'),
                     func.count(func.when(accRed.lesividad=='HL',1)).alias('leves'),
                     func.count(func.when((accRed.sexo == 'MUJER') &
                                          (accRed.tipoPersona == 'CONDUCTOR'),1)).alias('condMujer'),
                     func.count(func.when((accRed.sexo == 'HOMBRE') &
                                          (accRed.tipoPersona == 'CONDUCTOR'),1)).alias('condHombre'),
                    )\
                .na.fill(0)\
                .sort ('fecha','distrito','idAccidente')

IndentationError: unexpected indent (<ipython-input-30-f83755bc8239>, line 5)

In [28]:
#Las columnas del Dataframe accRed quedan así
accGrouped.toPandas()

,fecha,distrito,idAccidente,muertos,graves,leves,condMujer,condHombre
0,None,ARGANZUELA,2018/10027,0,0,1,0,2
1,None,ARGANZUELA,2018/10183,0,0,1,0,1
2,None,ARGANZUELA,2018/10195,0,0,1,1,1
3,None,ARGANZUELA,2018/10197,0,0,1,0,2
4,None,ARGANZUELA,2018/10203,0,0,1,0,2
5,None,ARGANZUELA,2018/10208,0,1,0,0,1
6,None,ARGANZUELA,2018/10241,0,0,2,0,0
7,None,ARGANZUELA,2018/10308,0,0,1,1,1
8,None,ARGANZUELA,2018/10385,0,0,1,0,3
9,None,ARGANZUELA,2018/10414,0,0,1,1,1
10,None,ARGANZUELA,2018/10448,0,1,0,0,2
11,None,ARGANZUELA,2018/10477,0,0,1,0,1
12,None,ARGANZUELA,2018/10491,0,0,2,0,2
13,None,ARGANZUELA,2018/10507,0,0,1,0,1
14,None,ARGANZUELA,2018/10521,0,0,1,0,2
15,None,ARGANZUELA,2018/10544,0,0,1,0,2
16,None,ARGANZUELA,2018/10557,0,0,1,0,3
17,None,ARGANZUELA,2018/10595,0,0,1,0,2
18,None,ARGANZUELA,2018/10626,0,0,1,1,1
19,None,ARGANZUELA,2018/10631,0,0,1,0,1
20,None,ARGANZUELA,2018/10709,0,0,1,1,1
21,None,ARGANZUELA,2018/1071,0,0,2,0,2
22,None,ARGANZUELA,2018/10726,0,0,2,0,1
23,None,ARGANZUELA,2018/10731,0,0,1,0,1
24,None,ARGANZUELA,2018/10740,0,0,1,0,2
25,None,ARGANZUELA,2018/10747,0,0,1,0,2
26,None,ARGANZUELA,2018/10795,0,0,1,0,1
27,None,ARGANZUELA,2018/1086,0,0,1,0,2
28,None,ARGANZUELA,2018/10909,0,0,1,1,0
29,None,ARGANZUELA,2018/10912,0,0,1,0,2
...,...,...,...,...,...,...,...,...
10648,2018-12-12,CARABANCHEL,2018/15740,0,0,1,0,0
10649,2018-12-12,CENTRO,2018/15816,0,0,1,0,2
10650,2018-12-12,CHAMBERI,2018/15715,0,0,1,0,2
10651,2018-12-12,CIUDAD LINEAL,2018/15716,0,0,1,0,1
10652,2018-12-12,CIUDAD LINEAL,2018/15771,0,0,2,1,1
10653,2018-12-12,FUENCARRAL-EL PARDO,2018/15702,0,0,1,0,1
10654,2018-12-12,HORTALEZA,2018/15708,0,0,1,0,2
10655,2018-12-12,HORTALEZA,2018/15711,0,0,1,1,1
10656,2018-12-12,HORTALEZA,2018/15944,0,0,1,1,1
10657,2018-12-12,LATINA,2018/15615,0,0,1,0,1
10658,2018-12-12,LATINA,2018/15622,0,1,0,0,1
10659,2018-12-12,LATINA,2018/15692,0,0,1,0,1
10660,2018-12-12,LATINA,2018/15729,0,0,1,2,0
10661,2018-12-12,MONCLOA-ARAVACA,2018/15737,0,0,1,1,1
10662,2018-12-12,MONCLOA-ARAVACA,2018/15778,0,0,1,0,1
10663,2018-12-12,PUENTE DE VALLECAS,2018/15889,0,0,1,0,1
10664,2018-12-12,PUENTE DE VALLECAS,2018/16000,0,0,1,0,2
10665,2018-12-12,RETIRO,2018/15655,0,0,1,0,2
10666,2018-12-12,RETIRO,2018/15686,0,0,1,1,1
10667,2018-12-12,RETIRO,2018/15698,0,0,2,0,5
10668,2018-12-12,SALAMANCA,2018/15765,0,0,1,1,1
10669,2018-12-12,SAN BLAS,2018/15671,0,0,1,0,1
10670,2018-12-12,TETUAN,2018/15807,0,0,3,0,2
10671,2018-12-12,TETUAN,2018/15809,0,0,1,1,0
10672,2018-12-12,TETUAN,2018/16100,0,0,1,1,0
10673,2018-12-12,USERA,2018/15684,0,0,1,0,1
10674,2018-12-12,USERA,2018/16469,0,0,1,1,0
10675,2018-12-12,VICALVARO,2018/15659,0,0,1,0,1
10676,2018-12-12,VICALVARO,2018/15705,0,0,1,0,1
10677,2018-12-12,VILLAVERDE,2018/15676,0,0,3,1,2

In [21]:
accRes = accGrouped\
   .groupBy (accGrouped.fecha, accGrouped.distrito)\
   .agg (
            func.count(func.when(accGrouped.condMujer==0,1)).alias('condHombre'),
            func.count(func.when(accGrouped.condHombre==0,1)).alias('condMujer'),
            func.count(func.when((accGrouped.condMujer>0)&
                                 (accGrouped.condHombre>0),1)).alias('condMixto'),
            func.sum (func.when (accGrouped.condMujer==0,accGrouped.muertos)).alias('muertosCondHombre'),
            func.sum (func.when (accGrouped.condMujer==0,accGrouped.graves)).alias('gravesCondHombre'),
            func.sum (func.when (accGrouped.condMujer==0,accGrouped.leves)).alias('levesCondHombre'),
            func.sum (func.when (accGrouped.condHombre==0,accGrouped.muertos)).alias('muertosCondMujer'),
            func.sum (func.when (accGrouped.condHombre==0,accGrouped.graves)).alias('gravesCondMujer'),
            func.sum (func.when (accGrouped.condHombre==0,accGrouped.leves)).alias('levesCondMujer'),
            func.sum (accGrouped.muertos).alias('totalMuertos'),
            func.sum (accGrouped.graves).alias('totalGraves'),
            func.sum (accGrouped.leves).alias('totalLeves')
        )\
    .na.fill(0)\
    .orderBy (accGrouped.fecha, accGrouped.distrito)

In [22]:
df=accRes.toPandas()
df

,fecha,distrito,condHombre,condMujer,condMixto,muertosCondHombre,gravesCondHombre,levesCondHombre,muertosCondMujer,gravesCondMujer,levesCondMujer,totalMuertos,totalGraves,totalLeves
0,1/1/2018,ARGANZUELA,1,0,0,0,0,1,0,0,0,0,0,1
1,1/1/2018,CARABANCHEL,1,0,0,0,1,0,0,0,0,0,1,0
2,1/1/2018,CENTRO,1,0,0,0,0,2,0,0,0,0,0,2
3,1/1/2018,CHAMARTIN,1,0,0,0,0,1,0,0,0,0,0,1
4,1/1/2018,CIUDAD LINEAL,1,0,0,0,1,2,0,0,0,0,1,2
5,1/1/2018,FUENCARRAL-EL PARDO,1,0,0,0,0,2,0,0,0,0,0,2
6,1/1/2018,HORTALEZA,1,0,0,0,1,0,0,0,0,0,1,0
7,1/1/2018,MORATALAZ,1,0,0,0,0,1,0,0,0,0,0,1
8,1/1/2018,RETIRO,1,0,0,0,0,2,0,0,0,0,0,2
9,1/1/2018,SALAMANCA,0,0,1,0,0,0,0,0,0,0,1,1
10,1/1/2018,SAN BLAS,1,0,0,0,0,1,0,0,0,0,0,1
11,1/1/2018,USERA,1,0,0,0,1,0,0,0,0,0,1,0
12,1/10/2018,ARGANZUELA,1,0,0,0,0,1,0,0,0,0,0,1
13,1/10/2018,CENTRO,4,0,1,0,0,4,0,0,0,0,0,6
14,1/10/2018,CHAMARTIN,4,1,1,0,0,4,0,0,1,0,0,6
15,1/10/2018,CIUDAD LINEAL,0,1,0,0,0,0,0,0,1,0,0,1
16,1/10/2018,FUENCARRAL-EL PARDO,0,0,2,0,0,0,0,0,0,0,0,2
17,1/10/2018,HORTALEZA,1,0,1,0,0,1,0,0,0,0,0,2
18,1/10/2018,MONCLOA-ARAVACA,2,0,0,0,0,2,0,0,0,0,0,2
19,1/10/2018,PUENTE DE VALLECAS,1,0,0,0,0,1,0,0,0,0,0,1
20,1/10/2018,RETIRO,0,0,2,0,0,0,0,0,0,0,0,2
21,1/10/2018,SALAMANCA,1,1,0,0,0,1,0,1,0,0,1,1
22,1/10/2018,SAN BLAS,0,0,1,0,0,0,0,0,0,0,0,1
23,1/10/2018,TETUAN,1,0,0,0,0,1,0,0,0,0,0,1
24,1/10/2018,USERA,1,1,0,1,0,0,1,0,0,1,0,0
25,1/11/2018,ARGANZUELA,1,0,0,0,0,1,0,0,0,0,0,1
26,1/11/2018,CENTRO,2,0,1,0,0,2,0,0,0,0,0,3
27,1/11/2018,CHAMARTIN,1,0,1,0,0,1,0,0,0,0,1,1
28,1/11/2018,CIUDAD LINEAL,1,0,0,0,0,1,0,0,0,0,0,1
29,1/11/2018,FUENCARRAL-EL PARDO,2,0,2,0,0,2,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5278,9/7/2018,MONCLOA-ARAVACA,1,1,0,0,1,1,0,0,1,0,1,2
5279,9/7/2018,MORATALAZ,1,0,0,0,0,1,0,0,0,0,0,1
5280,9/7/2018,PUENTE DE VALLECAS,0,0,4,0,0,0,0,0,0,0,0,5
5281,9/7/2018,RETIRO,2,0,2,0,0,2,0,0,0,0,0,5
5282,9/7/2018,SALAMANCA,2,0,0,0,0,2,0,0,0,0,0,2
5283,9/7/2018,SAN BLAS,1,0,0,0,0,1,0,0,0,0,0,1
5284,9/7/2018,TETUAN,2,0,1,0,0,2,0,0,0,0,1,5
5285,9/7/2018,VICALVARO,1,0,0,0,0,3,0,0,0,0,0,3
5286,9/7/2018,VILLA DE VALLECAS,1,0,0,0,0,1,0,0,0,0,0,1
5287,9/7/2018,VILLAVERDE,1,0,0,0,0,1,0,0,0,0,0,1
5288,9/8/2018,ARGANZUELA,0,0,1,0,0,0,0,0,0,0,0,2
5289,9/8/2018,CARABANCHEL,3,0,0,0,0,4,0,0,0,0,0,4
5290,9/8/2018,CENTRO,4,0,0,0,1,3,0,0,0,0,1,3
5291,9/8/2018,CHAMARTIN,2,1,1,0,0,2,0,0,1,0,0,4
5292,9/8/2018,CHAMBERI,1,0,0,0,0,1,0,0,0,0,0,1
5293,9/8/2018,MONCLOA-ARAVACA,3,0,1,0,1,2,0,0,0,0,1,5
5294,9/8/2018,PUENTE DE VALLECAS,1,0,0,0,0,1,0,0,0,0,0,1
5295,9/8/2018,RETIRO,2,0,0,0,1,1,0,0,0,0,1,1
5296,9/8/2018,SALAMANCA,2,0,2,0,0,2,0,0,0,0,0,5
5297,9/8/2018,TETUAN,1,0,0,0,0,1,0,0,0,0,0,1
5298,9/8/2018,VILLA DE VALLECAS,1,0,1,0,0,1,0,0,0,0,0,2
5299,9/8/2018,VILLAVERDE,1,0,0,0,0,3,0,0,0,0,0,3
5300,9/9/2018,ARGANZUELA,1,0,0,0,0,1,0,0,0,0,0,1
5301,9/9/2018,CARABANCHEL,1,0,1,0,0,1,0,0,0,0,0,2
5302,9/9/2018,CHAMARTIN,1,0,0,0,0,2,0,0,0,0,0,2
5303,9/9/2018,CIUDAD LINEAL,2,0,0,0,0,4,0,0,0,0,0,4
5304,9/9/2018,FUENCARRAL-EL PARDO,1,0,0,0,0,1,0,0,0,0,0,1
5305,9/9/2018,LATINA,1,0,0,0,0,2,0,0,0,0,0,2
5306,9/9/2018,PUENTE DE VALLECAS,2,1,0,0,1,1,0,0,1,0,1,2
5307,9/9/2018,TETUAN,1,0,0,0,0,1,0,0,0,0,0,1

#### Por comodidad para poder guardar todos los datos en un único fichero utilizamos la librería pandas.

In [23]:
df.to_csv('/home/ubuntu/Downloads/accidente_victimas_por_sexo_conductor.csv',sep=';')