## Extracción y transformación de datos con Spark 2.4
### Origen de datos
Los datos representan los accidentes de tráfico por día y distrito
que se han producido en la ciudad de Madrid entre 2010 y 2018

El fichero origen es un fichero csv por año tiene los datos detallados
por cada uno de los intervinientes en el accidente: Conductor, pasajero,
testito, peatón, ...

La primera parte del fichero está referida al accidente y se repite
por cada uno de los intervinientes.

### La parte del registro referida al accidente tiene los campos:
 - 'FECHA'
 - 'RANGO HORARIO'
 - 'DIA SEMANA'
 - 'DISTRITO'
 - 'LUGAR ACCIDENTE'
 - 'Nº: string'
 - 'Nº PARTE'     **Id.accidente, es el mismo para varios regs.**
 - 'CPFA Granizo'
 - 'CPFA Hielo'
 - 'CPFA Lluvia'
 - 'CPFA Niebla'
 - 'CPFA Seco'
 - 'CPFA Nieve'
 - 'CPSV Mojada'
 - 'CPSV Aceite'
 - 'CPSV Barro'
 - 'CPSV Grava Suelta'
 - 'CPSV Hielo'
 - 'CPSV Seca Y Limpia'
 - '* Nº VICTIMAS' **Total de víctimas por Nº de parte**
 - 'TIPO ACCIDENTE'
 - 'Tipo Vehiculo'
 
### La parte del registro correspondiente a cada persona:
 - 'TIPO PERSONA'
 - 'SEXO'
 - 'LESIVIDAD'
 - 'Tramo Edad'

In [1]:
import pyspark
from pyspark.sql import SparkSession
app_name = "bubbly"
master = "local[*]"
spark = (SparkSession.builder
    .master(master)
    .config("spark.driver.cores", 1)
    .appName(app_name)
    .getOrCreate() )
sc = spark.sparkContext
print ('SparkContext created')

SparkContext created

In [2]:
# Cargamos el fichero desde hdfs
#accidenteData = spark.read.csv ('hdfs://localhost:9000/user/ubuntu/accidentes/datos',header=True)
#accidenteData = spark.read.csv ('file:///home/ubuntu/Downloads/2018_Accidentalidad.csv',header=True)
accidenteData = spark.read.csv ('file:///home/jose/Descargas/2018.csv',header=True)

In [3]:
accidenteData.printSchema()

root
 |-- FECHA: string (nullable = true)
 |-- RANGO HORARIO: string (nullable = true)
 |-- DIA SEMANA: string (nullable = true)
 |-- DISTRITO: string (nullable = true)
 |-- LUGAR ACCIDENTE: string (nullable = true)
 |-- Nº: string (nullable = true)
 |-- Nº PARTE: string (nullable = true)
 |-- CPFA Granizo: string (nullable = true)
 |-- CPFA Hielo: string (nullable = true)
 |-- CPFA Lluvia: string (nullable = true)
 |-- CPFA Niebla: string (nullable = true)
 |-- CPFA Seco: string (nullable = true)
 |-- CPFA Nieve: string (nullable = true)
 |-- CPSV Mojada: string (nullable = true)
 |-- CPSV Aceite: string (nullable = true)
 |-- CPSV Barro: string (nullable = true)
 |-- CPSV Grava Suelta: string (nullable = true)
 |-- CPSV Hielo: string (nullable = true)
 |-- CPSV Seca Y Limpia: string (nullable = true)
 |-- * Nº VICTIMAS: string (nullable = true)
 |-- TIPO ACCIDENTE: string (nullable = true)
 |-- Tipo Vehiculo: string (nullable = true)
 |-- TIPO PERSONA: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- LESIVIDAD: string (nullable = true)
 |-- Tramo Edad: string (nullable = true)

In [4]:
import pyspark.sql.functions as func

# Reducimos las columnas que tenemos que utilizar mediante la Select
# y aplicamos las funciones necesarias a los datos
accRed=accidenteData\
  .filter ((func.substring(accidenteData.LESIVIDAD,1,1)=='H') | 
            (func.substring(accidenteData.LESIVIDAD,1,1)=='M') | 
            (accidenteData['TIPO PERSONA'] == 'CONDUCTOR'))\
  .select(
#        func.to_date(accidenteData.FECHA, 'dd/MM/yyyy HH:mm:ss').alias('fecha'), \
        func.to_date(accidenteData.FECHA, 'mm/dd/yyyy').alias('fecha'), \
#        accidenteData.FECHA.alias('fecha'),\
        accidenteData.DISTRITO.alias('distrito'), \
        accidenteData["Nº PARTE"].alias('idAccidente'), \
        accidenteData["TIPO PERSONA"].alias('tipoPersona'), \
        accidenteData["SEXO"].alias('sexo'), \
        func.substring(accidenteData.LESIVIDAD,1,2).alias('lesividad'), \
)

In [5]:
#Las columnas del Dataframe accRed quedan así
accRed.printSchema()
accRed.show(n=2)

root
 |-- fecha: date (nullable = true)
 |-- distrito: string (nullable = true)
 |-- idAccidente: string (nullable = true)
 |-- tipoPersona: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- lesividad: string (nullable = true)

+----------+--------------------+-----------+--------------------+------+---------+
|     fecha|            distrito|idAccidente|         tipoPersona|  sexo|lesividad|
+----------+--------------------+-----------+--------------------+------+---------+
|2018-01-01|USERA            ...|     2018/1|PEATON           ...|HOMBRE|       HG|
|2018-01-01|USERA            ...|     2018/1|           CONDUCTOR|HOMBRE|       IL|
+----------+--------------------+-----------+--------------------+------+---------+
only showing top 2 rows

In [6]:
# Agrupamos por fecha, distrito, accidente y generamos varias columnas contadoras 
accGrouped=accRed\
                .groupBy('fecha','distrito','idAccidente')\
                .agg(func.count(func.when(accRed.lesividad=='MT',1)).alias('muertos'),
                     func.count(func.when(accRed.lesividad=='HG',1)).alias('graves'),
                     func.count(func.when(accRed.lesividad=='HL',1)).alias('leves'),
                     func.count(func.when((accRed.sexo == 'MUJER') &
                                          (accRed.tipoPersona == 'CONDUCTOR'),1)).alias('condMujer'),
                     func.count(func.when((accRed.sexo == 'HOMBRE') &
                                          (accRed.tipoPersona == 'CONDUCTOR'),1)).alias('condHombre'),
                    )\
                .na.fill(0)\
                .sort ('fecha','distrito','idAccidente')

In [11]:
# Agrupamos por fecha, distrito, accidente y generamos varias columnas contadoras 
accGrCondFila=accGrouped.select ("fecha", "distrito", "idAccidente","muertos","graves","leves", "condMujer", "condHombre")\
                .withColumn("conductor",
                            func.when (accGrouped.condMujer == 0, "Hombre")\
                           .when (accGrouped.condHombre == 0, "Mujer")
                           .when (accGrouped.condHombre > 0,"Ambos")\
                )
accGrCondFila.toPandas()

,fecha,distrito,idAccidente,muertos,graves,leves,condMujer,condHombre,conductor
0,2018-01-01,ARGANZUELA,2018/1071,0,0,2,0,2,Hombre
1,2018-01-01,ARGANZUELA,2018/1086,0,0,1,0,2,Hombre
2,2018-01-01,ARGANZUELA,2018/1097,0,0,1,1,1,Ambos
3,2018-01-01,ARGANZUELA,2018/1163,0,0,1,0,2,Hombre
4,2018-01-01,ARGANZUELA,2018/1187,0,0,1,0,2,Hombre
5,2018-01-01,ARGANZUELA,2018/1188,0,1,0,0,2,Hombre
6,2018-01-01,ARGANZUELA,2018/1189,0,0,1,1,0,Mujer
7,2018-01-01,ARGANZUELA,2018/200,0,0,1,1,0,Mujer
8,2018-01-01,ARGANZUELA,2018/202,0,0,1,1,1,Ambos
9,2018-01-01,ARGANZUELA,2018/210,0,0,1,0,2,Hombre
10,2018-01-01,ARGANZUELA,2018/224,0,0,1,2,0,Mujer
11,2018-01-01,ARGANZUELA,2018/25,0,0,1,0,2,Hombre
12,2018-01-01,ARGANZUELA,2018/263,0,0,1,1,1,Ambos
13,2018-01-01,ARGANZUELA,2018/33,0,0,1,1,1,Ambos
14,2018-01-01,ARGANZUELA,2018/36,0,1,0,1,0,Mujer
15,2018-01-01,ARGANZUELA,2018/372,0,0,1,0,1,Hombre
16,2018-01-01,ARGANZUELA,2018/373,0,0,1,1,1,Ambos
17,2018-01-01,ARGANZUELA,2018/425,0,0,1,0,2,Hombre
18,2018-01-01,ARGANZUELA,2018/455,0,0,1,0,1,Hombre
19,2018-01-01,ARGANZUELA,2018/492,0,0,1,0,2,Hombre
20,2018-01-01,ARGANZUELA,2018/504,0,0,1,0,1,Hombre
21,2018-01-01,ARGANZUELA,2018/508,0,0,5,0,2,Hombre
22,2018-01-01,ARGANZUELA,2018/521,0,0,3,0,2,Hombre
23,2018-01-01,ARGANZUELA,2018/586,0,0,1,0,2,Hombre
24,2018-01-01,ARGANZUELA,2018/588,0,0,1,0,1,Hombre
25,2018-01-01,ARGANZUELA,2018/598,0,0,1,0,1,Hombre
26,2018-01-01,ARGANZUELA,2018/61,0,0,1,0,2,Hombre
27,2018-01-01,ARGANZUELA,2018/622,0,0,1,0,2,Hombre
28,2018-01-01,ARGANZUELA,2018/666,0,0,1,1,1,Ambos
29,2018-01-01,ARGANZUELA,2018/670,0,0,1,0,2,Hombre
...,...,...,...,...,...,...,...,...,...
10648,2018-01-12,VILLA DE VALLECAS,2018/16243,0,0,2,2,0,Mujer
10649,2018-01-12,VILLA DE VALLECAS,2018/16321,0,0,1,1,1,Ambos
10650,2018-01-12,VILLA DE VALLECAS,2018/16439,0,0,2,0,4,Hombre
10651,2018-01-12,VILLA DE VALLECAS,2018/16525,0,0,1,0,2,Hombre
10652,2018-01-12,VILLA DE VALLECAS,2018/16540,0,0,1,1,0,Mujer
10653,2018-01-12,VILLA DE VALLECAS,2018/16548,0,0,1,0,2,Hombre
10654,2018-01-12,VILLA DE VALLECAS,2018/16570,0,0,1,2,0,Mujer
10655,2018-01-12,VILLAVERDE,2018/15069,1,0,0,0,1,Hombre
10656,2018-01-12,VILLAVERDE,2018/15075,0,0,1,0,2,Hombre
10657,2018-01-12,VILLAVERDE,2018/15227,0,0,1,1,1,Ambos
10658,2018-01-12,VILLAVERDE,2018/15340,0,0,1,0,2,Hombre
10659,2018-01-12,VILLAVERDE,2018/15404,0,0,1,1,1,Ambos
10660,2018-01-12,VILLAVERDE,2018/15462,0,0,1,1,1,Ambos
10661,2018-01-12,VILLAVERDE,2018/15522,0,0,6,1,1,Ambos
10662,2018-01-12,VILLAVERDE,2018/15612,0,0,1,0,1,Hombre
10663,2018-01-12,VILLAVERDE,2018/15676,0,0,3,1,2,Ambos
10664,2018-01-12,VILLAVERDE,2018/15811,0,0,3,0,2,Hombre
10665,2018-01-12,VILLAVERDE,2018/15878,0,0,2,0,2,Hombre
10666,2018-01-12,VILLAVERDE,2018/15917,0,0,2,1,1,Ambos
10667,2018-01-12,VILLAVERDE,2018/15964,0,0,1,0,2,Hombre
10668,2018-01-12,VILLAVERDE,2018/16069,0,0,1,0,0,Hombre
10669,2018-01-12,VILLAVERDE,2018/16075,0,0,1,0,2,Hombre
10670,2018-01-12,VILLAVERDE,2018/16125,0,0,1,0,2,Hombre
10671,2018-01-12,VILLAVERDE,2018/16393,0,0,1,1,1,Ambos
10672,2018-01-12,VILLAVERDE,2018/16447,0,0,2,1,1,Ambos
10673,2018-01-12,VILLAVERDE,2018/16629,0,0,2,0,2,Hombre
10674,2018-01-12,VILLAVERDE,2018/16632,0,0,3,0,2,Hombre
10675,2018-01-12,VILLAVERDE,2019/5,0,0,1,0,2,Hombre
10676,2018-01-12,VILLAVERDE,2019/8,0,0,1,0,2,Hombre
10677,2018-01-12,VILLAVERDE,2019/9,0,0,1,0,2,Hombre

In [12]:
#Las columnas del Dataframe accRed quedan así
accGrouped.toPandas()

,fecha,distrito,idAccidente,muertos,graves,leves,condMujer,condHombre
0,2018-01-01,ARGANZUELA,2018/1071,0,0,2,0,2
1,2018-01-01,ARGANZUELA,2018/1086,0,0,1,0,2
2,2018-01-01,ARGANZUELA,2018/1097,0,0,1,1,1
3,2018-01-01,ARGANZUELA,2018/1163,0,0,1,0,2
4,2018-01-01,ARGANZUELA,2018/1187,0,0,1,0,2
5,2018-01-01,ARGANZUELA,2018/1188,0,1,0,0,2
6,2018-01-01,ARGANZUELA,2018/1189,0,0,1,1,0
7,2018-01-01,ARGANZUELA,2018/200,0,0,1,1,0
8,2018-01-01,ARGANZUELA,2018/202,0,0,1,1,1
9,2018-01-01,ARGANZUELA,2018/210,0,0,1,0,2
10,2018-01-01,ARGANZUELA,2018/224,0,0,1,2,0
11,2018-01-01,ARGANZUELA,2018/25,0,0,1,0,2
12,2018-01-01,ARGANZUELA,2018/263,0,0,1,1,1
13,2018-01-01,ARGANZUELA,2018/33,0,0,1,1,1
14,2018-01-01,ARGANZUELA,2018/36,0,1,0,1,0
15,2018-01-01,ARGANZUELA,2018/372,0,0,1,0,1
16,2018-01-01,ARGANZUELA,2018/373,0,0,1,1,1
17,2018-01-01,ARGANZUELA,2018/425,0,0,1,0,2
18,2018-01-01,ARGANZUELA,2018/455,0,0,1,0,1
19,2018-01-01,ARGANZUELA,2018/492,0,0,1,0,2
20,2018-01-01,ARGANZUELA,2018/504,0,0,1,0,1
21,2018-01-01,ARGANZUELA,2018/508,0,0,5,0,2
22,2018-01-01,ARGANZUELA,2018/521,0,0,3,0,2
23,2018-01-01,ARGANZUELA,2018/586,0,0,1,0,2
24,2018-01-01,ARGANZUELA,2018/588,0,0,1,0,1
25,2018-01-01,ARGANZUELA,2018/598,0,0,1,0,1
26,2018-01-01,ARGANZUELA,2018/61,0,0,1,0,2
27,2018-01-01,ARGANZUELA,2018/622,0,0,1,0,2
28,2018-01-01,ARGANZUELA,2018/666,0,0,1,1,1
29,2018-01-01,ARGANZUELA,2018/670,0,0,1,0,2
...,...,...,...,...,...,...,...,...
10648,2018-01-12,VILLA DE VALLECAS,2018/16243,0,0,2,2,0
10649,2018-01-12,VILLA DE VALLECAS,2018/16321,0,0,1,1,1
10650,2018-01-12,VILLA DE VALLECAS,2018/16439,0,0,2,0,4
10651,2018-01-12,VILLA DE VALLECAS,2018/16525,0,0,1,0,2
10652,2018-01-12,VILLA DE VALLECAS,2018/16540,0,0,1,1,0
10653,2018-01-12,VILLA DE VALLECAS,2018/16548,0,0,1,0,2
10654,2018-01-12,VILLA DE VALLECAS,2018/16570,0,0,1,2,0
10655,2018-01-12,VILLAVERDE,2018/15069,1,0,0,0,1
10656,2018-01-12,VILLAVERDE,2018/15075,0,0,1,0,2
10657,2018-01-12,VILLAVERDE,2018/15227,0,0,1,1,1
10658,2018-01-12,VILLAVERDE,2018/15340,0,0,1,0,2
10659,2018-01-12,VILLAVERDE,2018/15404,0,0,1,1,1
10660,2018-01-12,VILLAVERDE,2018/15462,0,0,1,1,1
10661,2018-01-12,VILLAVERDE,2018/15522,0,0,6,1,1
10662,2018-01-12,VILLAVERDE,2018/15612,0,0,1,0,1
10663,2018-01-12,VILLAVERDE,2018/15676,0,0,3,1,2
10664,2018-01-12,VILLAVERDE,2018/15811,0,0,3,0,2
10665,2018-01-12,VILLAVERDE,2018/15878,0,0,2,0,2
10666,2018-01-12,VILLAVERDE,2018/15917,0,0,2,1,1
10667,2018-01-12,VILLAVERDE,2018/15964,0,0,1,0,2
10668,2018-01-12,VILLAVERDE,2018/16069,0,0,1,0,0
10669,2018-01-12,VILLAVERDE,2018/16075,0,0,1,0,2
10670,2018-01-12,VILLAVERDE,2018/16125,0,0,1,0,2
10671,2018-01-12,VILLAVERDE,2018/16393,0,0,1,1,1
10672,2018-01-12,VILLAVERDE,2018/16447,0,0,2,1,1
10673,2018-01-12,VILLAVERDE,2018/16629,0,0,2,0,2
10674,2018-01-12,VILLAVERDE,2018/16632,0,0,3,0,2
10675,2018-01-12,VILLAVERDE,2019/5,0,0,1,0,2
10676,2018-01-12,VILLAVERDE,2019/8,0,0,1,0,2
10677,2018-01-12,VILLAVERDE,2019/9,0,0,1,0,2

In [12]:
accRes = accGrouped\
   .groupBy (accGrouped.fecha, accGrouped.distrito)\
   .agg (
            func.count(func.when(accGrouped.condMujer==0,1)).alias('condHombre'),
            func.count(func.when(accGrouped.condHombre==0,1)).alias('condMujer'),
            func.count(func.when((accGrouped.condMujer>0)&
                                 (accGrouped.condHombre>0),1)).alias('condMixto'),
            func.sum (func.when (accGrouped.condMujer==0,accGrouped.muertos)).alias('muertosCondHombre'),
            func.sum (func.when (accGrouped.condMujer==0,accGrouped.graves)).alias('gravesCondHombre'),
            func.sum (func.when (accGrouped.condMujer==0,accGrouped.leves)).alias('levesCondHombre'),
            func.sum (func.when (accGrouped.condHombre==0,accGrouped.muertos)).alias('muertosCondMujer'),
            func.sum (func.when (accGrouped.condHombre==0,accGrouped.graves)).alias('gravesCondMujer'),
            func.sum (func.when (accGrouped.condHombre==0,accGrouped.leves)).alias('levesCondMujer'),
            func.sum (accGrouped.muertos).alias('totalMuertos'),
            func.sum (accGrouped.graves).alias('totalGraves'),
            func.sum (accGrouped.leves).alias('totalLeves')
        )\
    .na.fill(0)\
    .orderBy (accGrouped.fecha, accGrouped.distrito)

In [13]:
df=accRes.toPandas()
df

,fecha,distrito,condHombre,condMujer,condMixto,muertosCondHombre,gravesCondHombre,levesCondHombre,muertosCondMujer,gravesCondMujer,levesCondMujer,totalMuertos,totalGraves,totalLeves
0,2018-01-01,ARGANZUELA,14,1,3,0,3,11,0,0,1,0,3,18
1,2018-01-01,BARAJAS,5,0,1,0,1,6,0,0,0,0,1,7
2,2018-01-01,CARABANCHEL,14,4,2,0,3,16,0,0,4,0,3,22
3,2018-01-01,CENTRO,20,3,4,0,0,26,0,0,3,0,0,34
4,2018-01-01,CHAMARTIN,13,2,7,0,2,14,0,0,2,0,2,28
5,2018-01-01,CHAMBERI,11,4,7,0,0,15,0,0,4,0,1,25
6,2018-01-01,CIUDAD LINEAL,11,5,2,0,1,12,0,0,5,0,1,18
7,2018-01-01,FUENCARRAL-EL PARDO,7,2,3,1,0,7,0,0,2,1,0,12
8,2018-01-01,HORTALEZA,10,5,4,0,3,8,0,0,7,0,4,19
9,2018-01-01,LATINA,8,3,6,0,0,13,0,0,4,0,0,25
10,2018-01-01,MONCLOA-ARAVACA,15,1,3,0,2,17,0,0,1,0,2,22
11,2018-01-01,MORATALAZ,7,0,3,0,1,6,0,0,0,0,1,10
12,2018-01-01,PUENTE DE VALLECAS,16,3,4,0,3,14,0,1,2,0,4,27
13,2018-01-01,RETIRO,12,3,6,0,2,14,0,0,3,0,2,25
14,2018-01-01,SALAMANCA,14,1,4,0,2,13,0,0,1,0,3,18
15,2018-01-01,SAN BLAS,7,3,8,0,1,9,0,0,3,0,2,21
16,2018-01-01,TETUAN,12,3,3,0,0,15,0,0,5,0,0,22
17,2018-01-01,USERA,10,2,0,0,1,12,0,0,5,0,1,17
18,2018-01-01,VICALVARO,2,0,1,0,0,2,0,0,0,0,0,3
19,2018-01-01,VILLA DE VALLECAS,4,2,0,0,0,4,0,0,2,0,0,6
20,2018-01-01,VILLAVERDE,7,0,1,0,1,7,0,0,0,0,1,8
21,2018-01-02,ARGANZUELA,7,1,4,0,0,7,0,1,0,0,2,12
22,2018-01-02,BARAJAS,5,1,1,0,1,4,0,0,1,0,1,5
23,2018-01-02,CARABANCHEL,7,0,2,0,2,7,0,0,0,0,3,9
24,2018-01-02,CENTRO,13,3,6,0,1,12,0,0,3,0,1,21
25,2018-01-02,CHAMARTIN,9,4,9,0,1,10,0,2,2,0,3,27
26,2018-01-02,CHAMBERI,16,1,4,0,4,14,0,0,1,0,4,19
27,2018-01-02,CIUDAD LINEAL,11,2,6,0,1,12,0,0,3,0,1,25
28,2018-01-02,FUENCARRAL-EL PARDO,17,2,8,0,3,14,0,0,2,0,3,24
29,2018-01-02,HORTALEZA,5,3,4,0,1,6,0,0,4,0,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,2018-01-30,PUENTE DE VALLECAS,15,4,5,0,0,19,0,0,4,0,0,31
622,2018-01-30,RETIRO,10,0,5,0,0,15,0,0,0,0,1,20
623,2018-01-30,SALAMANCA,15,2,1,0,2,17,0,1,1,0,4,18
624,2018-01-30,SAN BLAS,8,2,5,0,1,11,0,0,2,0,1,20
625,2018-01-30,TETUAN,11,1,2,0,0,11,0,0,1,0,0,16
626,2018-01-30,USERA,10,1,2,0,2,9,0,0,1,0,2,12
627,2018-01-30,VICALVARO,1,0,1,0,0,1,0,0,0,0,1,1
628,2018-01-30,VILLA DE VALLECAS,5,1,2,0,0,6,0,0,1,0,0,9
629,2018-01-30,VILLAVERDE,6,0,1,0,1,7,0,0,0,0,1,9
630,2018-01-31,ARGANZUELA,4,0,3,0,1,3,0,0,0,0,1,6
631,2018-01-31,BARAJAS,1,0,1,0,0,1,0,0,0,0,0,2
632,2018-01-31,CARABANCHEL,7,3,4,0,2,7,0,0,3,0,2,17
633,2018-01-31,CENTRO,10,0,2,0,0,11,0,0,0,0,0,13
634,2018-01-31,CHAMARTIN,8,1,4,0,0,8,0,0,1,0,1,12
635,2018-01-31,CHAMBERI,5,0,3,0,0,5,0,0,0,0,0,8
636,2018-01-31,CIUDAD LINEAL,6,1,3,0,0,6,0,0,1,0,0,10
637,2018-01-31,FUENCARRAL-EL PARDO,7,4,1,0,0,11,0,0,5,0,0,16
638,2018-01-31,HORTALEZA,2,1,2,0,0,2,0,0,2,0,0,6
639,2018-01-31,LATINA,4,0,0,0,0,4,0,0,0,0,0,4
640,2018-01-31,MONCLOA-ARAVACA,10,2,2,0,1,10,0,0,2,0,1,14
641,2018-01-31,MORATALAZ,4,2,3,0,0,4,0,0,2,0,1,8
642,2018-01-31,PUENTE DE VALLECAS,8,3,1,0,1,10,0,0,3,0,1,14
643,2018-01-31,RETIRO,9,1,3,0,1,14,0,0,1,0,1,18
644,2018-01-31,SALAMANCA,10,2,5,0,1,11,0,0,2,0,1,17
645,2018-01-31,SAN BLAS,6,1,5,0,0,10,0,0,2,0,0,17
646,2018-01-31,TETUAN,3,1,4,0,1,2,0,1,0,0,2,6
647,2018-01-31,USERA,3,2,1,0,0,5,0,0,3,0,0,9
648,2018-01-31,VICALVARO,1,0,0,0,0,2,0,0,0,0,0,2
649,2018-01-31,VILLA DE VALLECAS,4,3,0,0,0,4,0,0,3,0,0,7
650,2018-01-31,VILLAVERDE,1,0,0,0,0,1,0,0,0,0,0,1

#### Por comodidad para poder guardar todos los datos en un único fichero utilizamos la librería pandas.

In [14]:
df.to_csv('/home/ubuntu/Downloads/accidente_victimas_por_sexo_conductor.csv',sep=';')