# Fichero de permisos

## Origen
Fichero obtenido de la DGT
## Tratamiento
El fichero contiene la cantidad de permisos emitidos por año y por tramo de edad.
Desglosamos los permisos del tipo "A,B,D" en diferentes líneas para contabilizarlos por separado
Acumulamos en los sucesivos años los datos del primer registro que corresponde a los anteriores al 2001

In [19]:
import csv
import pandas as pd
import numpy as np

In [94]:
permisos=[]
acum = {}
i=0
with open ('data/permisosMadrid.csv',encoding="ISO-8859-1") as permisosIn:
        reader = csv.DictReader(permisosIn)
        for row in reader:
            i += 1
            for permiso in row['GRUPO PERMISOS'].split(','):
                if not '+E' in permiso and len(permiso.strip())>0: #Algunos terminan en ',' y generan permiso vacío
                    row['GRUPO PERMISOS']=permiso
                    anyo = row['ANYO_EXPEDICION']
                    total = int(row['Total'])
                    sexo = row['SEXO']

                    if not sexo in acum:
                        acum[sexo]={}
                        #print ('acum {}'.format(sexo))
                    if not anyo in acum[sexo]:
                        acum[sexo][anyo]={}
                        #print ('acum {} {}'.format(sexo, anyo))
                    if not permiso in acum[sexo][anyo]:
                        acum[sexo][anyo][permiso]=0

                    acum [sexo][anyo][permiso] += total
                        #print ('--> total {} acum {}'.format(total, acum[sexo][anyo][permiso]))

                    permisos.append(row)
permisosIn.close()

In [97]:
for sexo in [*acum]
    for anyo in [*acum[sexo]]
        for permiso in [*acum[sexo][anyo]]
            if anyo == '2000':
                tot = acum [sexo][anyo][permiso]
            else:
                acum [sexo][anyo][permiso] += tot
                tot = acum [sexo][anyo][permiso]

['M', 'V']

In [98]:
[*acum['M']]

['2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

In [72]:
df = pd.DataFrame(permisos)
df [['HASTA 18', 'DE 19 A 24', 'DE 25 A 34', 'DE 35 A 44', 'DE 45 A 54',
       'DE 55 A 64', 'DE 65 A 74', 'MÁS DE 74', 'Total']] = \
       df [['HASTA 18', 'DE 19 A 24', 'DE 25 A 34', 'DE 35 A 44', 'DE 45 A 54', \
       'DE 55 A 64', 'DE 65 A 74', 'MÁS DE 74', 'Total']].apply(pd.to_numeric)

In [73]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1751 entries, 0 to 1750
Data columns (total 14 columns):
FECHA CENSO        1751 non-null object
ANYO_EXPEDICION    1751 non-null object
MUNICIPIO          1751 non-null object
SEXO               1751 non-null object
GRUPO PERMISOS     1751 non-null object
HASTA 18           1751 non-null int64
DE 19 A 24         1751 non-null float64
DE 25 A 34         1751 non-null float64
DE 35 A 44         1751 non-null float64
DE 45 A 54         1751 non-null float64
DE 55 A 64         1751 non-null float64
DE 65 A 74         1751 non-null float64
MÁS DE 74          1751 non-null float64
Total              1751 non-null int64
dtypes: float64(7), int64(2), object(5)
memory usage: 191.6+ KB

In [74]:
dfA = df.groupby (['SEXO', 'GRUPO PERMISOS', 'ANYO_EXPEDICION']) 
dfA

In [80]:
for k, datos in dfA:
    sexo, lic, anyo = k
    if sexo == 'M' and lic == 'A' and anyo == '2000':
        print ('sexo {} lic {} año {}'.format(sexo,lic,anyo))
        #print (datos)
        for indice_fila, fila in datos.iterrows():

            print("Indice {} Total{}".format (indice_fila, fila['Total']))
    
    """
    for dato in datos:
        if float(datos['dato']) > 0:
            print (dato)
"""

sexo M lic A año 2000
Indice 0 Total25
Indice 34 Total11
Indice 35 Total11

In [36]:
dfA

                                     HASTA 18  DE 19 A 24  DE 25 A 34  \
SEXO GRUPO PERMISOS ANYO_EXPEDICION
M    A              2000                    0         0.0       0.000
                    2001                    0         0.0       0.000
                    2005                    0         0.0       0.000
                    2006                    0         0.0       0.000
                    2007                    0         0.0       0.000
                    2009                    0         0.0       0.000
                    2010                    0         0.0       0.000
                    2011                    0         0.0       0.000
                    2012                    0         0.0       0.000
                    2013                    0         0.0       0.000
                    2014                    0         0.0       3.000
                    2015                    0         0.0       0.000
                    2016                    0         0.0       2.000
                    2017                    0         0.0      11.000
                    2018                    0         1.0       9.000
                    2019                    0         0.0       2.000
     A1             2000                    0         0.0       0.000
                    2001                    0         0.0       0.000
                    2002                    0         0.0      26.000
                    2003                    0         0.0      50.000
                    2004                    0         0.0      72.000
                    2005                    0         0.0      64.000
                    2006                    0         0.0      90.000
                    2007                    0         0.0      66.000
                    2008                    0         0.0      72.000
                    2009                    0         0.0      52.000
                    2010                    0         0.0      37.000
                    2011                    0         0.0      27.000
                    2012                    0        14.0      23.000
                    2013                    0        28.0       2.000
...                                       ...         ...         ...
V    D1             2008                    0         0.0       0.000
                    2009                    0         0.0       0.000
                    2010                    0         0.0       0.000
                    2015                    0         0.0       1.000
                    2016                    0         0.0       0.000
                    2017                    0         0.0       0.000
                    2018                    0         2.0       1.000
     LVA            2000                    0         0.0       0.000
                    2015                    0         0.0       0.000
                    2018                    1         0.0       0.000
     Otros          2000                    0         0.0       0.000
                    2001                    0         0.0       0.000
                    2002                    0         0.0     130.000
                    2003                    0         0.0     561.000
                    2004                    0         0.0     776.000
                    2005                    0         0.0       1.060
                    2006                    0         0.0       1.284
                    2007                    0         0.0       1.532
                    2008                    0         0.0       1.783
                    2009                    0         0.0       1.385
                    2010                    0         0.0       1.343
                    2011                    0         0.0       1.099
                    2012                    0        93.0     745.000
                    2013                    0       222.0     501.000
                    2014                    0       245.0     501.000
                    2015                    0       256.0     534.000
                    2016                    0       223.0     316.000
                    2017                    0       180.0     256.000
                    2018                    0       196.0     261.000
                    2019                    0        28.0      58.000

                                     DE 35 A 44  DE 45 A 54  DE 55 A 64  \
SEXO GRUPO PERMISOS ANYO_EXPEDICION
M    A              2000                  6.000      19.000      16.000
                    2001                  4.000       0.000       1.000
                    2005                  1.000       2.000       0.000
                    2006                  1.000       0.000       0.000
                    2007                  0.000       3.000       0.000
                    2009                  3.000       2.000       0.000
                    2010                  0.000       2.000       3.000
                    2011                  3.000       1.000       1.000
                    2012                  4.000       2.000       0.000
                    2013                  4.000       5.000       0.000
                    2014                  3.000       9.000       0.000
                    2015                  3.000       0.000       0.000
                    2016                  5.000       1.000       2.000
                    2017                  7.000       7.000       0.000
                    2018                 10.000       1.000       0.000
                    2019                 10.000       0.000       0.000
     A1             2000               1219.000      13.126     952.000
                    2001                134.000      76.000      30.000
                    2002                128.000     122.000      18.000
                    2003                142.000     128.000      46.000
                    2004                 74.000      55.000      10.000
                    2005                 34.000      10.000       0.000
                    2006                 12.000       7.000       2.000
                    2007                 10.000       6.000       2.000
                    2008                 15.000      18.000       2.000
                    2009                 28.000      12.000       6.000
                    2010                 10.000      14.000       0.000
                    2011                 30.000       6.000       0.000
                    2012                  8.000      16.000       2.000
                    2013                 10.000      10.000       0.000
...                                         ...         ...         ...
V    D1             2008                  1.000       0.000       1.000
                    2009                  1.000       0.000       0.000
                    2010                  1.000       0.000       1.000
                    2015                  1.000       2.000       0.000
                    2016                  1.000       0.000       0.000
                    2017                  0.000       0.000       1.000
                    2018                  0.000       0.000       0.000
     LVA            2000                  0.000       1.000       4.000
                    2015                  0.000       0.000       1.000
                    2018                  0.000       0.000       0.000
     Otros          2000                 10.608      15.436      11.999
                    2001                  1.800     293.000      62.000
                    2002                  1.819     286.000      59.000
                    2003                  1.420     306.000      61.000
                    2004                  1.254     392.000      84.000
                    2005                  1.175     315.000      59.000
                    2006                  1.118     307.000      52.000
                    2007                  1.134     333.000      99.000
                    2008                942.000     365.000      84.000
                    2009                835.000     332.000      94.000
                    2010                704.000     277.000      63.000
                    2011                479.000     174.000      41.000
                    2012                330.000     128.000      33.000
                    2013                278.000     146.000      25.000
                    2014                339.000     175.000      48.000
                    2015                407.000     176.000      34.000
                    2016                202.000      59.000      12.000
                    2017                189.000      61.000      14.000
                    2018                177.000      63.000      19.000
                    2019                 34.000      12.000       6.000

                                     DE 65 A 74  MÁS DE 74  Total
SEXO GRUPO PERMISOS ANYO_EXPEDICION
M    A              2000                  3.000        3.0     47
                    2001                  0.000        0.0      5
                    2005                  0.000        0.0      3
                    2006                  0.000        0.0      1
                    2007                  0.000        0.0      3
                    2009                  0.000        0.0      5
                    2010                  0.000        0.0      5
                    2011                  0.000        0.0      5
                    2012                  0.000        0.0      6
                    2013                  0.000        0.0      9
                    2014                  0.000        0.0     15
                    2015                  0.000        0.0      3
                    2016                  0.000        0.0     10
                    2017                  0.000        0.0     25
                    2018                  0.000        0.0     21
                    2019                  0.000        0.0     12
     A1             2000                164.000       40.0   4512
                    2001                  6.000        0.0    246
                    2002                 10.000        2.0    306
                    2003                 10.000        0.0    376
                    2004                  2.000        0.0    213
                    2005                  0.000        0.0    108
                    2006                  0.000        0.0    111
                    2007                  2.000        0.0     86
                    2008                  0.000        0.0    107
                    2009                  2.000        0.0    100
                    2010                  2.000        0.0     63
                    2011                  0.000        0.0     63
                    2012                  0.000        0.0     63
                    2013                  4.000        0.0     54
...                                         ...        ...    ...
V    D1             2008                  0.000        0.0      2
                    2009                  0.000        0.0      1
                    2010                  0.000        0.0      2
                    2015                  0.000        0.0      4
                    2016                  0.000        0.0      1
                    2017                  0.000        0.0      1
                    2018                  0.000        0.0      3
     LVA            2000                  5.000        4.0     14
                    2015                  0.000        0.0      1
                    2018                  0.000        0.0      1
     Otros          2000                  4.065      797.0  42905
                    2001                 10.000        1.0   2166
                    2002                  6.000        1.0   2301
                    2003                 12.000        0.0   2360
                    2004                 14.000        1.0   2521
                    2005                  2.000        0.0   2611
                    2006                  9.000        0.0   2770
                    2007                 10.000        1.0   3109
                    2008                  6.000        0.0   3180
                    2009                 10.000        0.0   2656
                    2010                  4.000        0.0   2391
                    2011                  1.000        0.0   1794
                    2012                  2.000        0.0   1331
                    2013                  5.000        0.0   1177
                    2014                  3.000        0.0   1311
                    2015                  0.000        0.0   1407
                    2016                  1.000        0.0    813
                    2017                  1.000        0.0    701
                    2018                  1.000        0.0    717
                    2019                  1.000        0.0    139

[436 rows x 9 columns]

In [18]:
permisosOut = open ('data/permisosMadridTratado.csv','w')
i=0
with open ('data/permisosMadrid.csv',encoding="ISO-8859-1") as permisosIn:
        reader = csv.DictReader(permisosIn)
        for row in reader:
            #print ('grupo permisos {}'.format(row['GRUPO PERMISOS']))
            i += 1
            if i == 1:
                fieldnames = [*row]
                writer = csv.DictWriter(permisosOut,fieldnames)
                writer.writeheader()
            else
                acumularContadores (rowPrev, row)

            rowPrev = row
            
            for permiso in row['GRUPO PERMISOS'].split(','):
                if not '+E' in permiso:
                    row['GRUPO PERMISOS']=permiso
                    writer.writerow(rowOut)

permisosOut.close()
permisosIn.close()